<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ if .IsPage }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/bootstrap-2.3.2/css/bootstrap.min.css" rel="stylesheet" />
        <style>body {padding-top: 20px; padding-bottom: 40px;} .masthead h2 {margin-top: 0;}</style>
        <link href="/bootstrap-2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="/bootstrap-extras/css/docs.css" rel="stylesheet" />
        <link href="/google-code-prettify-1-Jun-2011/prettify.css" rel="stylesheet" />
        <link href="/index.xml" rel="alternate" type="application/atom+xml" title="Sivel.net Feed" />
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="masthead offset2 span8">
                    <ul class="nav nav-pills pull-right">
                        <li class="{{ if eq .Title .Site.Title }}active{{ end }}">
                            <a href="/">Home</a>
                        </li>
                        {{ range where .Site.Pages "Type" "page" }}
                        <li class="{{ if eq $.Title .Title }}active{{ end }}">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    <h2 class="muted"><a href="/">{{ .Site.Title }}</a><small>&nbsp;&nbsp;{{ .Site.Params.description }}</small></h2>
                    <hr />
                </div>
            </div>
