                <div class="span2">
                    <div class="sidebar-nav">
                        <h4>Series</h4>
                        <ul class="nav nav-list">
                            <li class="nav-header">WordPress Maintenance Mode Without a Plugin</li>
                            <li><a href="/2009/06/wordpress-maintenance-mode-without-a-plugin/">Part 1</a></li>
                            <li><a href="/2009/06/wordpress-maintenance-mode-without-a-plugin-part-2/">Part 2</a></li>
                            <li><a href="/2009/10/wordpress-maintenance-mode-without-a-plugin-part-3/">Part 3</a></li>
                            <li class="nav-header">WordPres Caching Comparisons</li>
                            <li><a href="/2010/11/wordpress-caching-comparisons-part-1/">Part 1</a></li>
                            <li><a href="/2011/12/wordpress-caching-comparisons-part-2/">Part 2</a></li>
                        </ul>
                        <h4>Some External Links</h4>
                        <ul class="nav nav-list">
                            <li><a href="http://freemyfeed.com/">FreeMyFeed</a></li>
                            <li><a href="http://gallery.martzes.com/">Gallery</a></li>
                            <li><a href="http://github.com/sivel/">Github</a></li>
                        </ul>
                        <div>
                            <hr />
                            <form class="form-search" method="get" action="http://www.google.com/search">
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-search"></i></span>
                                    <input class="form-search" type="text" name="q" placeholder="Search" />
                                </div>
                                <input type="hidden" name="sitesearch" value="sivel.net" />
                            </form>
                        </div>
                        <a href="https://twitter.com/sivel" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @sivel</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
